.underlay {
  min-height: calc(100vh - 56px - 107.08px);
  position: relative;
}

.modal {
  border-radius: 20px;
  background: #1A3C2D;
  padding: 30px;
  width: 446px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media(max-width: 1440px) {
    position: static;
    transform: translate(0);
    margin: 50px auto;
  }

  @media(max-width: 500px) {
    width: 92%;
    padding: 20px;
    margin: 30px auto;
  }
}

