.videoBlock {
  padding-block: 60px;
  background: #C3F53C;
}

.videoWrapper {
  text-align: center;
  position: relative;
  max-width: 742px;
  margin: 0 auto 50px;
  border-radius: 20px;

  @media (max-width: 768px) {
    max-width: 92vw;
  }
}

.video {
  width: 100%;
  border-radius: 20px;
  height: auto;
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  color: rgba(0, 0, 0, .75);
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.btnBlock {
  display: flex;
  width: 447px;
  gap: 10px;
  margin: 30px auto 0px;
}